[Desktop Entry]
Version=0.1
Type=Application
Name=CLSAVis
GenericName=CLSA Visualizer
Comment=Canadian Longitudinal Study on Aging Visualizer
Exec=CLSAVis %u
TryExec=CLSAVis
Icon=logo_clsa
Categories=Viewer;DataVisualization;CLSA;Epidemiology;Qt;
